{% extends "layouts/base_book.html" %}
{% block title %} List of PCs {% endblock %}
{% block content %}

{% block stylesheets%}
<style>
  table {
    width: 100%; 
    border-collapse: collapse; 
  }
  th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
  }
  th {
    background-color: #f2f2f2; 
  }
  tr:nth-child(even) { 
    background-color: #fafafa;
  }
</style>
{% endblock %}
<form method="get">
    {{ filter.form.as_p }}
    <input type="submit" />
</form>
<div class="productContainer">
  <table>
    <tr>
      <th>ID</th>
      <th>Processor</th>
      <th>RAM</th>
      <th>Storage</th>
      <th>Graphics Card</th>
      <th>Motherboard</th>
      <th>Power Supply</th>
      <th>Case</th>
      <th>Price</th>
      <th>Update</th>
      <th>Add to Cart</th>
    </tr>
    {% for b in filter.qs %}
      <tr>
        <td><a href="/book/{{b.id}}">{{b.id}}</a></td>
        <td>{{b.Processor}}</td>
        <td>{{b.RAM}}</td>
        <td>{{b.Storage}}</td>
        <td>{{b.graphics_card}}</td>
        <td>{{b.Motherboard}}</td>
        <td>{{b.Power_Supply}}</td>
        <td>{{b.Case}}</td>
        <td>{{b.price}}</td>
        <td><a href="/update/{{b.id}}">Update</a></td>
        <td>
          <form method="post" action="{% url 'add_to_cart' b.id %}">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}