{% extends "layouts/base.html" %}
{% block title %} List of pc {% endblock %}

{% block content %} 

<h1>Book List</h1>
<h3>PC 1</h3> 
<h4>Title</h4>
<a href="/book/1">Budget Gaming/Everyday Use PC</a>

<h4>Description</h4>
<p>This PC combines an Intel Core i5-12600K processor and NVIDIA GeForce RTX 3060 graphics card to deliver excellent performance for gaming and everyday tasks like web browsing and productivity work.</p>
</br> 
<h3>PC 2</h3>
<h4>Title</h4>
<a href="/book/2">Balanced Gaming/Content Creation PC</a>
<h4>Description</h4> 
<p>This PC offers a combination of an AMD Ryzen 7 5800X processor and AMD Radeon RX 6700 XT graphics card, making it suitable for playing modern games and creating content.</p> 

<h3>PC 3</h3> 
<h4>Title</h4>
<a href="/book/3">High-End Gaming PC</a>

<h4>Description</h4>
<p>This PC features an Intel Core i7-12700K processor and NVIDIA GeForce RTX 3080 graphics card, making it ideal for playing modern games at high settings and 4K resolution.</p>
</br> 
<h3>PC 4</h3>
<h4>Title</h4>
<a href="/book/4"> Professional Gaming/Content Creation PC</a>
<h4>Description</h4> 
<p>This PC boasts an AMD Ryzen 9 5950X processor and AMD Radeon RX 6900 XT graphics card, making it suitable for professional gamers and creators who need exceptional performance.</p> 
<h3>PC 5</h3>
<h4>Title</h4>
<a href="/book/5"> Ultimate Gaming/Professional Workstation PC</a>
<h4>Description</h4> 
<p>This PC combines an Intel Core i9-12900K processor and NVIDIA GeForce RTX 3090 Ti graphics card, making it an ideal choice for hardcore gamers and creators seeking the best possible performance.</p> 



{% comment %} <h1>  <a href="\books\1">pc1</a> </h1>
<h1>  <a href="\books\2">pc2</a> </h1>
<h1>  <a href="\books\3">pc3</a> </h1>
<h1>  <a href="\books\4">pc4</a> </h1> {% endcomment %}

{% endblock %}