{% extends "layouts/base_book.html" %}


{% comment %} {% block content %} 

<div class="container">
    <form action="" method="post">
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
      <br>
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      <br>
      <label for="lname">Email</label>
      <input type="Email" id="Email" name="Email" placeholder="Your Email..">
      <br>
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="KSA">KSA</option>
        <option value="UAE">UAE</option>
        <option value="usa">USA</option>
      </select>
      <br>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      <br>
      <input type="submit" value="Submit">
  
    </form>
  </div>

  <form>
    <input type="file">
  </form>

{% endblock %} {% endcomment %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">submit</button>
    </form>


{% endblock content %}