{% load static %}



{% block stylesheets %}

  <style>
    footer {
      background-color: #333; /* Dark gray footer */
      color: #fff; /* White text */
      padding: 20px;
      text-align: center;
    }

  </style>
{% endblock %}

{% block content %}

<footer>
  <div class="footer-content">
    <p>Copyright © 2024 PC Store. All Rights Reserved.</p>
    <p><a href="mailto:pc_store@example.com">pc_store@example.com</a></p>
  </div>

  <div class="terms-container">
    <a href="/media/files/TermsandConditions.pdf" target="_blank">Download Terms and Conditions (PDF)</a>
    <br>
    <a href="{% static 'imges/image.png' %}" target="_blank" aria-label="View Terms and Conditions as an image">View Terms and Conditions as an Image</a>
  </div>


</footer>
{% endblock %}